	section div .wrapper {
		flex-flow: row wrap;
	}
	
	.center {
		text-align: center;
		font-size: $default-font-size * 2.5;
		font-weight: normal;
		margin: 0;	
	}
	
	.about-us-text {
		& h2 {
			margin: 0;
			font-weight: normal;
			font-size: $default-font-size * 1.5;
		}
		
		& h2::first-letter {
			font-size: $default-font-size * 3;
		}
		
		& p {
			font-weight: normal;
			font-size: $default-font-size * 1.2;
		}
		
		@media screen and (min-width: 320px) and (max-width:500px) {
			& h2::first-letter {
				font-size: $default-font-size * 2.5;
			}
		}
	}
	
	.text-padding {
		padding: 0 15px;
		
		@media screen and (min-width: 320px) and (max-width: 500px) {
			padding: 0;
		}
	}
	
	.no-flexbox .text-padding {
		float: left;
	}

	.no-mediaqueries .text-padding {
		padding: 5px;
		width: 50%;
	}
	
	
	@media screen and (min-width: 600px) {
		
		.about-us-text {
			width: 50%;
		}
		
		.about-us-img {
			background-image: url("../images/IT-solution.png");
			height: 400px;
			width: 50%;
			background-repeat: no-repeat;
			background-position: center right;
		}
	}
	
	@media screen and (min-width: 768px) {
		.about-us-text h2 {
			font-size: 21px;
		}
	}
	
	.no-flexbox .about-us-img {
		float: right;
	}
	
	.no-mediaqueries .about-us-img {
			background-image: url("../images/IT-solution.png");
			height: 300px;
			width: 50%;
			background-repeat: no-repeat;
			background-position: center right;

	}
