$background-color: #f9f9f9;
$header-color: #e1e1e1;
$footer-color: #b3d7e7;
$navbar-color: #f9f9f9;
$tab-color: #0d5e84;
$aboutus-text-color: #114b86;
$services-text-color: #071820;
$contact-details-color: #f7f7f7;
