.footer {
    background: $navbar-color;

    ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
    }

    ul li a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.no-flexbox .footer {
    display: inline;
}