.services-web-design {
    background-image: url("../images/web-design.png");
    background-size: cover;
    background-position: center;
    height: 300px;

    @media screen and (min-width: 1024px) {
        height: 400px;
    }
}

.services-app-development {
    background-image: url("../images/app-development.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;

     @media screen and (min-width: 1024px) {
        height: 400px;
    }
}

.services-seo {
    background-image: url("../images/seo-1.png");
    background-size: cover;
    background-position: center;
    height: 300px;

     @media screen and (min-width: 1024px) {
        height: 400px;
    }
}

.services-marketing {
    background-image: url("../images/marketing-1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;

     @media screen and (min-width: 1024px) {
        height: 400px;
    }
}

.service-width {
    width: 100%;
}
